<!DOCTYPE html>
<html ng-app="VibezApp">
<head>
  <title>V-BOARD</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<<<<<<< HEAD
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <%= javascript_include_tag 'angular-route.min', 'data-turbolinks-track' => true %>
    <base href="/">
</head>
=======
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <base href="/">
</head>

>>>>>>> 61d50e90adbc5d477f3d25d251b7500caf5fa116
<body>
<main>
  <%= yield %>
</main>
<%= javascript_include_tag 'angular', 'data-turbolinks-track' => true %>
</body>
</html>
